@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<nav>
    
    <NavMenuButton Text="Leaderboards"
                   Icon="@(new Icons.Regular.Size16.Trophy())">
        <MenuItems>
            <NavMenuItem Text="Maps"
                         Icon="@(new Icons.Regular.Size16.Map())"
                         Href="/leaderboard/maps"/>
            <NavMenuItem Text="Players"
                         Icon="@(new Icons.Regular.Size16.Person())"
                         Href="/leaderboard/players"/>
        </MenuItems>
    </NavMenuButton>

    <NavMenuButton Text="Play"
                   Icon="@(new Icons.Regular.Size16.XboxController())">
        <MenuItems>
            <NavMenuItem Text="Servers"
                         Icon="@(new Icons.Regular.Size16.Server())"
                         Href="/play/servers"/>
            <NavMenuItem Text="Top Players Online"
                         Icon="@(new Icons.Regular.Size16.Person())"
                         Href="/play/top-players-online"/>
        </MenuItems>
    </NavMenuButton>
</nav>

@code
{
    private bool _opened;
}
