@using System.Timers;
@using TempusApi.Models
@using TempusApi.Models.Responses

@inject ITempusClient TempusClient
@inject NavigationManager NavigationManager

@implements IDisposable

<div class="search-bar">
    <FluentButton IconStart="(new Icons.Regular.Size20.Search())"
                  Appearance="Appearance.Stealth"
                  OnClick="@(() => _visible = !_visible)">

    </FluentButton>

    <FluentOverlay @bind-Visible="@_visible"
                   Opacity="0.4"
                   FullScreen="true"
                   OnClose="HandleOnClose"
                   PreventScroll>
        <div @onclick:stopPropagation="true" @onclick:preventDefault="true">

            <FluentCard MinimalStyle Height="450px" Width="300px">
                <FluentStack Width="100%">
                    <h3>Search Everything</h3>
                    <FluentSpacer />
                    <FluentButton Appearance="Appearance.Stealth" IconStart="new Icons.Filled.Size12.Dismiss()" OnClick="HandleOnClose"/>
                </FluentStack>
                <FluentAutocomplete TOption="OneOf<ServerPlayerModel, MapInfo>"
                                    OptionValue="@(x => x.Match(x => x?.Id.ToString(), x=> x?.Name))"
                                    Placeholder="Search everything"
                                    OnOptionsSearch="HandleOptionsSearch"
                                    SelectedOptionChanged="HandleSelectedOptionChanged"
                                    SelectedOptionsChanged="(x) => HandleSelectedOptionChanged(x.Single())"
                                    ShowOverlayOnEmptyResults="true"
                                    Autofocus
                                    Width="200px"
                                    Items="searchResults">
                    <OptionTemplate>
                        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                            @switch (context.Value)
                            {
                                case ServerPlayerModel player:
                                    var steamProfile = _steamProfiles[SteamUtilities.ConvertToSteamId64(player.SteamId)];
                                    <FluentPersona Image="@steamProfile.Avatars.SmallUrl" ImageSize="24px"/>

                                    @player.Name
                                    break;

                                case MapInfo map:
                                    <FluentIcon Value="@(new Icons.Regular.Size16.Map())"/>
                                    @map.Name
                                    break;
                            }
                        </FluentStack>
                    </OptionTemplate>
                </FluentAutocomplete>
            </FluentCard>
        </div>
    </FluentOverlay>

</div>

@code
{
    private bool _visible;

    private void HandleOnClose()
    {
        _visible = false;
        HandleClear();
    }

    private Timer? timer = null;

    private FluentSearch? searchTest;

    private string? searchValue = null;

    private string? SearchValue
    {
        get => searchValue;
        set
        {
            if (value != searchValue)
            {
                searchResults = defaultResults;
                searchValue = value;
                DisposeTimer();
                //ShowMessageBar the debounce time in ms to the timer below
                timer = new Timer(400);
                timer.Elapsed += TimerElapsed_TickAsync;
                timer.Enabled = true;
                timer.Start();
            }
        }
    }

    protected override void OnInitialized()
    {
        searchResults = defaultResults;

        base.OnInitialized();
    }

    private List<OneOf<ServerPlayerModel, MapInfo>>? searchResults;

    private List<OneOf<ServerPlayerModel, MapInfo>>? defaultResults => null;

    private Dictionary<long, SteamProfile> _steamProfiles = new();

    private bool _searchLoading;

    private async void TimerElapsed_TickAsync(object? sender, EventArgs e)
    {
        DisposeTimer();
        await InvokeAsync(OnSearchAsync);
    }

    private void DisposeTimer()
    {
        if (timer != null)
        {
            timer.Enabled = false;
            timer.Elapsed -= TimerElapsed_TickAsync;
            timer.Dispose();
            timer = null;
        }
    }

    private async Task OnSearchAsync()
    {
        if (!string.IsNullOrWhiteSpace(SearchValue))
        {
            _searchLoading = true;
            await InvokeAsync(StateHasChanged);

            var results = await TempusClient.GetSearchResultAsync(SearchValue);
            var resultsCount = results.Maps.Count + results.Players.Count;

            if (resultsCount > 0)
            {
                searchResults = results.Maps.Select(OneOf<ServerPlayerModel, MapInfo>.FromT1)
                    .Concat(results.Players.Select(OneOf<ServerPlayerModel, MapInfo>.FromT0))
                    .ToList();

                if (results.Players.Any())
                {
                    var tempusPlayerIds = results.Players
                        .Where(x => x.SteamId is not null)
                        .Select(x => SteamUtilities.ConvertToSteamId64(x.SteamId))
                        .ToArray();

                    // Convert from STEAM_0:0:98857228 to 76561198293007521

                    _steamProfiles = await TempusClient.GetSteamProfilesAsync(tempusPlayerIds);
                }

                _searchLoading = false;
            }
            else
            {
                searchResults = defaultResults;
            }

            await InvokeAsync(StateHasChanged);
        }
        else
        {
            searchResults = defaultResults;
            await InvokeAsync(StateHasChanged);
        }

        _searchLoading = false;
        if (_searchContext != null) _searchContext.Items = searchResults;
        await InvokeAsync(StateHasChanged);
    }

    private void HandleClear()
    {
        if (string.IsNullOrWhiteSpace(SearchValue))
            return;

        DisposeTimer();
        searchResults = defaultResults;
        SearchValue = string.Empty;
        _visible = false;

        StateHasChanged();
    }

    private void HandleSelectedOptionChanged(OneOf<ServerPlayerModel, MapInfo> selectedOption)
    {
        string href;
        if (selectedOption.IsT0)
        {
            var player = selectedOption.AsT0;

            href = $"/leaderboard/players/{player.Id}";
        }
        else
        {
            var map = selectedOption.AsT1;

            href = $"/leaderboard/maps/{map.Name}";
        }

        HandleOnClose();
        NavigationManager.NavigateTo(href);
    }
    

    public void Dispose()
    {
        DisposeTimer();
    }

    private OptionsSearchEventArgs<OneOf<ServerPlayerModel, MapInfo>>? _searchContext;

    private void HandleOptionsSearch(OptionsSearchEventArgs<OneOf<ServerPlayerModel, MapInfo>> e)
    {
        _searchContext = e;
        SearchValue = e.Text;
    }
}